/* styles.css  */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h2 {
    color: white;
}

.index-home {
    width: 50%;
    margin: 2em auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1);
}

.index-login {
    width: 30%;
    margin: 2em auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1);
}

main {
    width: 50%;
    margin: 2em auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #000;
}

.form-section,
.list-section {
    margin-bottom: 2em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

ul {
    display: flex; 
    flex-direction: row; /* Apresenta em linha */
    justify-content: center;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

li {
    list-style-type: none; /* retira a bolinha */
    margin-right: 10px
}

li a {
   text-decoration: none !important; /* retira a linha dos links */
}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}
